@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>College System</a>.</p>
    <p>Students <a href="/Students">Manage Students</a>.</p>
    <p>Courses <a href="/Courses">Manage Courses</a>.</p>
    <p>Enrollments <a href="/Enrollments">Manage Enrollments</a>.</p>
</div>
